.custom-footer {
    background-color: #000;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.custom-footer-text {
    color: #fff;
}

.footer-circle {
    color: #fff; /* Circle is white */
}

.footer-icon {
    color: #000; /* Icon is black */
}

/* Optional: change icon color on hover */
.custom-footer a:hover .footer-icon {
    color: #555;
}